/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Source+Sans+Pro:400,400i,600');

// fonts
$base-font-size: 16;
$base-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Lato', sans-serif;


// color
$dark-gray: #2b2e3a;
$white: #fff;
$black: #000;
$mid-gray: #7e8690;
$green: #87d271;

// Vermont Capital Partners Brand Colors
$vermont-gold: #c5a47e;
$vermont-dark: #1a1a1a;
$vermont-navy: #2c3e50;
$vermont-cream: #f5f3f0;

$theme-primary-color: $vermont-navy;
$body-bg-color: $white;
$section-bg-color: $vermont-cream;
$text-color: #4a4a4a;
$heading-color: $vermont-dark;
